/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 10px;
}
  
/* Control the left side */
.left {
    left: 0;
    background-color: #292929;
}
  
/* Control the right side */
.right {
    right: 0;
    background-color: #ffffff;
}
  
/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
/* Style the image inside the centered container, if needed */
.centered img {
    width: 600px;
    height: relative;
}

pre {
    overflow: auto;
    background-color: #898989;
    border: 1px solid #ffffff;
    padding: 5px;
    width: 100%;
    max-height: 300px;
    max-width: 700px;
    text-align: left;
}